.container {
    display: flex;
    border: 1px solid #000;
    margin: 2rem 0;
    
}

.headline {
    background-color: black;
    color: #fff;
    padding: 0.5rem;
}

.articles {
    display: flex;
    justify-content: space-evenly;
    
    flex:1;
}

.articleButton {
    text-decoration: none;
    border:none;
    background-color: #fff;
    cursor: pointer;
    padding: 0 .5rem;
    font-size: 1rem;


    &:hover {
        text-decoration: underline;
    }
}

