
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.image {
    width: 100%;
    height: auto;
}

.article {
    width: 50%;
}

.button {
    width: 3rem;
    background-color: #222;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
}

.headline {
    font-size: 2rem;
    padding: 1rem 0;
}