.button {
    color: #fff;
    padding: 0 2rem;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #000;
    border: none;
    font-size: 1.2rem;

    &:hover {
        text-decoration: underline;
    }
}